<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ModPlus.Revit.API.2019" version="4.0.0" targetFramework="net481" />
  <package id="ModPlus.Revit.API.2020" version="4.0.0" targetFramework="net481" />
  <package id="ModPlus.Revit.API.2021" version="4.0.0" targetFramework="net481" />
  <package id="ModPlus.Revit.API.2022" version="4.0.0" targetFramework="net481" />
  <package id="ModPlus.Revit.API.2023" version="4.0.0" targetFramework="net481" />
</packages>